.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding-top: 5%;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg,#c850c0,#4158d0);
  background: -o-linear-gradient(-135deg,#c850c0,#4158d0);
  background: -moz-linear-gradient(-135deg,#c850c0,#4158d0);
  background: linear-gradient(-135deg,#c850c0,#4158d0);
  padding: 30px;
}

.main main{
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 50px #ccc;
}
